@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(header.css);
@import url(footer.css);
body {
    font-family: Lato sans-serif;
    margin: 0;
    padding: 0;
}
main {
	margin-left: 2vw;
	margin-right: 2vw;
	font-size: 1vw;
}
.firstword {
    font-weight: 900;
    font-size: 3vw;
}
.asideleft {
    float: left;
    width: 25vw;
}
.asideleftcomment {
    float: left;
}
.asideright {
    float: right;
}
.asiderightcommet {
    float: right;
}
@media screen and (max-device-width: 480px), screen and (orientation:portrait) {
main {
    font-size: 15px;
}
.firstword {
    font-size: 35px;
}
}
