header {
    display: block;
    background-color: #AAA;
    width: 100vw;
    height: 10vw;
    font-family: "lato";
}
header img, header h1 {
    display: inline-block;
    vertical-align: middle;
}
header img#logo  {
    height: 10vw;
}
header h1 {
    margin-left: 10vw;
    font-size: 3vw;
}
header img#navburger {
    display: none;
}
header nav {
    display: block;
    text-align: center;
    width: 100vw;
    height: 3vw;
    margin-top: -1vw;
}
header nav a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background-color: #333;
    font-size: 1.5vw;
    height: 2vw;
    width: 12vw;
}
