header {
    display: block;
    background-color: #AAA;
    width: 100vw;
    height: 10vw;
    font-family: "lato";
}
div#logo  {
    height: 10vw;
    margin-right: 9vw;
    float: left;
}
div#logo img {
    height: 100%;
}
header h1 {
    display: inline-block;
    margin-left: 2vw;
    margin-right: 9vw;
    margin-top: 2.8vw;
    font-size: 3.3vw;
}
header div#navburger {
    display: none;
}
header nav {
    display: block;
    text-align: center;
    width: 100vw;
    height: 3vw;
}
header nav a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background-color: #333;
    font-size: 1.5vw;
    height: 2vw;
    width: 12vw;
}
@media screen and (max-device-width: 480px), screen and (orientation: portrait)
{
    div#logo {
        display: none;
    }
    div#navBurger {
        display: block;
        height: 10vw;
        float: right;
        background-color: yellow;
    }
    div#navBurger img {
        height: 10vw;
    }
}
