header {
	display: block;
	background-color: #CFCFCF;
	font-family: "lato"; 
	height: 10vw;
	margin-top: 0; 
	margin-left: 0;
	margin-right: 0;
	min-height: 85px; 
}
img {
    height: 8vw;
	min-height: 75px;
}
nav {
	display: table;
	width: 100%;
	height: 2vw;
	min-height: 10px;
}
nav a {
	display: table-cell;
	text-align: center;
	color: white;
	background-color: gray;
	border: .05vw solid white;
    text-decoration: none;
}
.navburger {
    display: none;
}
@media handheld { 
nav {
    display: none;
}
.navburger {
    display: block;
    position: absolute;
    right: 1vw;
	top: 1vw;
	height: 25px;
}
}
